<div class="break"></div>

<p class="quotation">"One thing I like to talk about when I talk about the [Ember] core team, is just how many different groups are represented here...I like our core team to be...as diverse as possible"</p>

<p class="attribution">- Yehuda Katz giving the opening keynote at Ember Conf 2015</p>

<p class="callout">...he said, while standing in front of a slide showing 10 white men and 1 white woman.</p>

<%= image_tag("ember-core-team.png", class: "ember-core-team") %>

