.team-card .color{
	background-color: #DBD3C9;
	padding: 5px;
}

.team-card {
	margin-bottom: 30px;
}

.team-name {
	font-size: 2rem;
	font-weight: bold;
}

.team-name a {
	color: #546A76;
}

.team-count {
	margin-bottom: 5px;
	margin-top: 10px;
}

.percent{
	margin-bottom: 5px;
}


.container {
	max-width: 960px;
}

.site-title {
	text-align: center;
	font-family: Avenir, sans-serif;
	font-weight: lighter;
	font-size: 4rem;
	margin-bottom: 20px;
}

.site-title a {
	color: #546A76;
}

.site-title a:hover {
	text-decoration: none;
}

a:hover {
	opacity: 0.5;

	text-decoration: none !important;
}


