<!DOCTYPE html>
<html>
<head>
  <title>WhereAreTheWomen</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Where are the Women?</h1>
<%= yield %>

</body>
</html>
